extends layout

block content
  h1= title
  table(class="table table-striped")
    thead
      tr
        th="Genre"
    tbody
      each genre in genre_list
        tr
          td
            a(href=`/catalog/genre/${genre.id}`)=genre.name
      else
        tr
          td="There are no genres."