extends layout

block content
  h1=title
  form(action=`/catalog/platform/create` method='post')
    hr
    label(for="consoleName")="Console name:"
    input.form-control.col-lg-6(name="consoleName" type='text' placeholder='e.g. Nintendo 64')
    br
    label(for="manufacturerName")="Manufacturer name:"
    input.form-control.col-lg-6(name="manufacturerName" type='text' placeholder='e.g. Nintendo')
    br
    label(for="medium")="Medium:"
    input.form-control.col-lg-6(name="medium" type='text' placeholder='e.g. Catridge')
    br
    input.form-control.btn.btn-primary.col-lg-6(type='submit' value='Submit')
    br