@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

body {
  background-color: #ffffff;
  background-image: url('https://www.transparenttextures.com/patterns/cream-pixels.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font: 14px Helvetica, Arial, sans-serif;
  /* font-family: 'Special Elite', cursive; */
}

hr {
  border: 0;
}
.table td,
.table th {
  border-top: 0 solid;
}
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  margin-bottom: 7px;
}

#main-container.container-fluid {
  padding: 40px;
}

.permission-denied-container {
  align-items: center;
  background-image: url('/images/always-grey.png');
  border-radius: 0.3rem;
  display: flex;
  height: 500px;
  justify-content: center;
}

.logout-container {
  height: 45px;
  position: absolute;
  right: 15px;
  top: 7.5px;
  width: 100px;
  z-index: 5;
}

.login-container {
  height: 45px;
  position: absolute;
  right: 15px;
  top: 7.5px;
  width: 410px;
  z-index: 5;
}
