@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

body {
  background-color: #ffffff;
  background-image: url('https://www.transparenttextures.com/patterns/cream-pixels.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font: 14px Helvetica, Arial, sans-serif;
  /* font-family: 'Special Elite', cursive; */
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  margin-bottom: 7px;
}

#main-container.container-fluid {
  padding: 40px;
}
